.navContainer{
  text-align: center;
}
.container{
  margin: auto;
}

html, body {
  height: 100%;
  background-color: #a8dadc;
}
body {
  margin: 0;
}
a{

  color: #e63946;
}
.container {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerContainer{
  margin-top: 10px;
  padding: 0px 10px 20px 10px;
  border-radius: 20px;
  background-color: #f1faee;
  text-align: center;
}