html,
body {
  height: 100%;
}
body {
  margin: 0;
}
.siteContainer {
  text-align: center;
}
#wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
.logoContainer h1{
  font-size: 4em;
  background-color: #111;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
