# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
target/
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
out

# zola
dist

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# custom
*.zip
*.sql
!data/catalogue.sql
public/pdfs
static/pdfs
pdfs

Operadocs
Operadocs.7z
