.navFooterContainer a {
	font-size: 1.5rem;
	color: #000;
	padding: 5px 8px;
	border-radius: 10px;
}
.navFooterContainer a:not(.active):hover {
	background-color: #444;
	color: white;
}
.navFooterContainer .active,
.active:hover {
	background-color: #111;
	color: white;
}
.closeFooter {
	cursor: pointer;
}
