.colContainer {
  display: flex;
  flex-wrap: wrap;
  border-left: solid black 1px;
  border-bottom: solid black 1px;
}
.resContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 24%;
  border-right: solid black 1px;
}