.spinnerContainer {
  display: flex;
  justify-content: center;
}
.loader{
  display: flex;
  justify-content: center;
}
iframe {
  height: 100%;
  width: 95%;
}
embed {
  height: 100%;
  width: 95%;
}

object {
  height: 100%;
  width: 95%;
}
.iframeContainer {
  height: 100vh;
  width: 95vw;
}
