.resultsContainer .topResult {
	font-size: 2.7em;
	border-radius: 20px;
}
.resultsContainer .topResult:hover {
	color: #33e;
}
.resultsContainer .bottomRow {
	border-radius: 5px;
}
.resultsContainer .otherResult {
	min-height: 100%;
	height: 100%;
}
.resultsContainer .otherResult:hover {
	color: #33e;
}
